@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

.wrap {
    background-color: #eeeeeeea;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list-container {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 500px;
    overflow-y: hidden;
    border-radius: 5px;
}

.task-list-container-header {
    background-color: rgb(210, 69, 38);
    color: #fff;
    padding: 15px;
}

.task-list-container-header h1 {
    font-size: 45px;
    line-height: 40px;
    font-weight: 800;
}

.new-task {
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.new-task-input {
    flex-grow: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    font-size: 22px;
    line-height: 19px;
}

.new-task-input:focus {
    border: none;
    outline: none;
}

.task-input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.task-list-container-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    overflow-y: auto;
    max-height: 343px;
    padding-bottom: 20px;
}

.task-list-container-body h2 {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 172px;
}

.task-list {
    padding-bottom: 30px;
}

.task {
    display: flex;
    align-items: center;
    padding: 15px;
    border-color: rgb(218 209 209);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}

#task-1 {
    border-top-width: 1px;
}

.task label {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.task-text {
    font-size: 22px;
    font-weight: 500;
    line-height: 19px;
    cursor: auto;
}

label.checked .task-text {
    text-decoration: line-through;
}

.add-icon, .delete-icon {
    width: 25px;
    height: 25px;
    opacity: .5;
    cursor: pointer;
    transition: .3s;
}

.add-icon svg, .delete-icon svg {
    width: inherit;
    height: inherit;
}

.add-icon:hover, .delete-icon:hover {
    opacity: 1;
}

.clear-task-list {
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #000;
    font-weight: 600;
    border: 0;
    transition: .3s;
}

.clear-task-list:hover{
    transform: scale(1.04);
    cursor: pointer;
}

@media (max-width: 426px) {
    .task-list-container {
        min-width: 100%;
        min-height: 100vh;
        overflow-y: auto;
    }

    .task-list-container-body {
        max-height: 100vh;
    }
}